/* Contact Sec 1 --------------------------------- */
.contact-form1 {
    background: $smoke-color;
    border-radius: 30px;
    padding: 30px;
    .contact-form-title {
        font-size: 30px;
        margin-top: -0.3em;
    }
    .box-title {
        margin-bottom: 10px;
    }
    .box-text {
        margin-bottom: 15px;
    }
    textarea.form-control, textarea {
        min-height: 168px;
    }
}

/* Contact Page ---------------------------------- */ 
.contact-wrap1 {
    border: 1px solid $border-color;
    border-radius: 50px;
    padding: 60px;
}
.contact-feature {
    &-wrap {
        padding: 0;
        border-radius: 16px;
        overflow: hidden;
        .footer-contact {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
            .box-icon {
                --btn-size: 80px;
                font-size: 24px;
                color: $theme-color;
                &:before {
                    background: transparent;
                    border: 1px solid $border-color;
                }
            }
            .box-label {
                font-size: 22px;
                font-weight: 700;
                font-family: $title-font;
                color: $title-color;
                margin-top: -0.5em;
                margin-bottom: -0.3em;
            }
            .box-title {
                color: $body-color;
                font-size: 16px;
                font-weight: 400;
                font-family: $title-font;
                margin-top: 10px;
                margin-bottom: -0.3em;
                a {
                    color: $title-color;
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
            @include vxs {
                gap: 15px;
                .box-title {
                    font-size: 17px;
                }
            }
        } 
    }
    display: flex;
    align-items: center;
    gap: 25px;
    @include md {
        flex: 50%;
    }
    @include xs {
        gap: 15px
    }
    
    .box-title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .box-text {
        max-width: 165px;
        a {
            display: block;
            max-width: fit-content;
            color: inherit;
            &:hover {
                color: $theme-color;
            }
        }
    }
}
.contact-map {
    line-height: 0px;
    margin: 0 auto;
    iframe {
        width: 100%;
        height: 710px;
        border-radius: 0px;
        mix-blend-mode: luminosity;
        @include xl {
            height: 500px;
        }
        @include md {
            height: 350px;
        }
    }
}
/* Newsletter ---------------------------------- */ 
.newsletter-area {
    padding: 46px 0;
    .newsletter-form {
        max-width: none;
        position: relative;
        input {
            background-color: $white-color;
            height: 64px;
            padding-right: 160px;
            border-radius: 40px;
            border: none;
            padding-left: 25px;
        }
        .ot-btn {
            position: absolute;
            right: 8px;
            top: 8px;
            bottom: 8px;
            border-radius: 40px;
            padding: 10px;
            background-color: $title-color;
            &:hover,
            &:before {
                background-color: $theme-color;
            }
        }
    }
    @include vxs {
        .newsletter-form {
            display: block;
            input {
                padding-right: 20px;
            }
            .ot-btn {
                position: initial;
                margin-top: 20px;
                width: 100%;
                background: $title-color;
                padding: 15px 20px;
            }
        }
    }
}